{% extends 'core/home.html' %}
{% load static %}

{% block base %}
  <div class="card card-container">
    <div class="card-header bg-dark text-white">
      Core Contents
    </div>
    <div class="card-body">
      {% for core_content in core_contents %}
        <div class="card">
          <div class="card-header bg-dark text-white">
            {{core_content.title}}
          </div>
          <div class="card-body">
            <p class="breakline">{{core_content.description}}</p>

            <div class="card">
              <div class="card-header">
                <b>Disciplines</b>
              </div>
              <div class="card-body">
                {% for discipline in core_content.disciplines.all %}
                  <a href="{% url 'curriculum:discipline-detail' slug=discipline.slug %}"
                     class="list-group-item list-group-item-action">
                     {{discipline}}
                  </a>
                {% empty %}
                  <span>There aren't discipline available in this core content.</span>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      {% empty %}
        <div class="alert alert-primary">
          There aren't core contents available.
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}
