{% extends 'core/home.html' %}
{% load static %}

{% block base %}
  <div class="card card-container">
    <div class="card-header bg-dark text-white">
      {{discipline.title}}
    </div>
    <div class="card-body">
      <div class="table-responsive-sm">
        <table class="table table-borderless text-justify">
          <tr>
            <th>Code:</th>
            <td>{{discipline.code}}</td>
          </tr>
          <tr>
            <th>Title:</th>
            <td>{{discipline.title}}</td>
          </tr>
          <tr>
            <th>Semester:</th>
            <td>{{discipline.semester}}</td>
          </tr>
          <tr>
            <th>Type:</th>
            <td>{{discipline.classification}}</td>
          </tr>
          {% if discipline.core_content %}
            <tr>
              <th>Core Content:</th>
              <td>
                <a href="{% url 'curriculum:core-content-list' %}">
                  {{discipline.core_content}}
                </a>
              </td>
            </tr>
          {% endif %}
          <tr>
            <th>Required Disciplines:</th>
            <td>
              {% for required in requireds %}
                <a href="{% url 'curriculum:discipline-detail' slug=required.slug %}">
                  <p>{{required.title}}</p>
                </a>
              {% empty %}
                <p>This discipline has not required disciplines.</p>
              {% endfor %}
            </td>
          </tr>
          <tr>
            <th>Is requirement of:</th>
            <td>
              {% for required in are_requireds_of %}
                <a href="{% url 'curriculum:discipline-detail' slug=required.slug %}">
                  <p>{{required.title}}</p>
                </a>
              {% empty %}
                <p>This discipline hasn't required in any other discipline.</p>
              {% endfor %}
            </td>
          </tr>
          <tr>
            <th>Description</th>
            <td>
              {% if discipline.description %}
                <p class="breakline">{{discipline.description}}</p>
              {% else %}
                <p>Discipline hasn't description.</p>
              {% endif %}
            </td>
          </tr>
          <tr>
            <th>Program:</th>
            <td>
              {% for subtopic in program %}
                <div class="row">
                  <div class="col-sm-10">
                    <a href="{% url 'knowledge:swebok-detail' knowledge=subtopic.knowledge topic=subtopic.topic %}">
                      {{subtopic.title}}
                    </a>
                  </div>
                  <div class="col-sm-2">
                    <form
                      action="{% url 'curriculum:remove' slug=discipline.slug subtopic=subtopic.slug %}"
                      method="POST">
                      {% csrf_token %}

                      <button type="submit"
                        data-toggle="tooltip" title="Remove content from discipline."
                        class="btn btn-danger btn-sm rounded-circle float-right remove-button">
                        <i class="fa fa-minus"></i>
                      </button>
                    </form>
                  </div>
                </div>
              {% empty %}
                <p>This discipline has not program content.</p>
              {% endfor %}
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
{% endblock %}
