{% extends 'core/home.html' %}
{% load static %}

{% block base %}
  <div class="card card-container">
    <div class="card-header bg-dark text-white">
      {% if discipline %}
        Update {{discipline.title }}
      {% else %}
        Create Discipline
      {% endif %}
    </div>
    <div class="card-body">
      <form action="#" method="POST" novalidate>
        {% csrf_token %}

        <div class="form-group">
          <label for="{{form.title.id_for_label}}">Title:</label>
          <input
            type="text"
            class="form-control"
            id="{{form.title.id_for_label}}"
            name="{{form.title.name}}"
            value="{{discipline.title}}"
          />
        </div>
        <div class="form-group">
          <label for="{{form.code.id_for_label}}">Code</label>
          <input
            type="number"
            class="form-control"
            id="{{form.code.id_for_label}}"
            name="{{form.code.name}}"
            value="{{discipline.code}}"
          />
        </div>
        <div class="form-group">
          <label for="{{form.description.id_for_label}}">Description</label>
          <textarea
            type="text"
            rows="5"
            class="form-control"
            id="{{form.description.id_for_label}}"
            name="{{form.description.name}}">{{discipline.description}}</textarea>
        </div>
        <div class="form-group">
          <label for="{{form.classification.id_for_label}}">Classification:</label>
          <select
            class="form-control"
            id="{{form.classification.id_for_label}}"
            name="{{form.classification.name}}">
            {% if discipline.classification == 'Optional' %}
              <option value="Required">Required</option>
              <option value="Optional" selected="">Optional</option>
            {% else %}
              <option value="Required">Required</option>
              <option value="Optional">Optional</option>
            {% endif %}
          </select>
        </div>
        <div class="form-group">
          <label for="{{form.core.id_for_label}}">Core Content:</label>
          <select
            class="form-control"
            id="{{form.core.id_for_label}}"
            name="{{form.core.name}}">
            <option
              value="Core_Basic_Content"
              {% if discipline.core_content == 'Core Basic Content' %}selected=""{% endif %}>
              Core Basic Content
            </option>
            <option
              value="Core_Professional_Content"
              {% if discipline.core_content == 'Core Professional Content' %}selected=""{% endif %}>
              Core Professional Content
            </option>
            <option
              value="Core_Specific_Content"
              {% if discipline.core_content == 'Core Specific Content' %}selected=""{% endif %}>
              Core Specific Content
            </option>
            <option
              value="Free_Module"
              {% if discipline.core_content == 'Free Module' %}selected=""{% endif %}>
              Free Module
            </option>
            <option
              value="Multidisciplinary"
              {% if discipline.core_content == 'Multidisciplinary' %}selected=""{% endif %}>
              Multidisciplinary
            </option>
          </select>
        </div>
        <div class="form-group">
          <label for="{{form.flow.id_for_label}}">Flow:</label>
          <select
            class="form-control"
            id="{{form.flow.id_for_label}}"
            name="{{form.flow.name}}">
            <option
              value="First_Semester"
              {% if discipline.semester == 'First Semester' %}selected=""{% endif %}>
              First Semester
            </option>
            <option
              value="Second_Semester"
              {% if discipline.semester == 'Second Semester' %}selected=""{% endif %}>
              Second Semester
            </option>
            <option
              value="Third_Semester"
              {% if discipline.semester == 'Third Semester' %}selected=""{% endif %}>
              Third Semester
            </option>
            <option
              value="Fourth_Semester"
              {% if discipline.semester == 'Fourth Semester' %}selected=""{% endif %}>
              Fourth Semester
            </option>
            <option
              value="Fifth_Semester"
              {% if discipline.semester == 'Fifth Semester' %}selected=""{% endif %}>
              Fifth Semester
            </option>
            <option
              value="Sixth_Semester"
              {% if discipline.semester == 'Sixth Semester' %}selected=""{% endif %}>
              Sixth Semester
            </option>
            <option
              value="Seventh_Semester"
              {% if discipline.semester == 'Seventh Semester' %}selected=""{% endif %}>
              Seventh Semester
            </option>
            <option
              value="Eighth_Semester"
              {% if discipline.semester == 'Eighth Semester' %}selected=""{% endif %}>
              Eighth Semester
            </option>
            <option
              value="Ninth_Semester"
              {% if discipline.semester == 'Ninth Semester' %}selected=""{% endif %}>
              Ninth Semester
            </option>
            <option
              value="Tenth_Semester"
              {% if discipline.semester == 'Tenth Semester' %}selected=""{% endif %}>
              Tenth Semester
            </option>
          </select>
        </div>
        {% if discipline %}
          <button type="submit" class="btn btn-primary">Update</button>
        {% else %}
          <button type="submit" class="btn btn-primary">Create</button>
        {% endif %}
      </form>
    </div>
  </div>
{% endblock %}
