{% extends 'core/home.html' %}
{% load static %}

{% block base %}
  <div class="card card-container">
    <div class="card-header bg-dark text-white">
      {{topic.title}}
    </div>
    <div class="card-body">
      <p class="breakline text-justify">{{topic.description}}</p>

      <div class="card">
        <div class="card-header">
          <b>Subtopics</b>
        </div>
        <div class="card-body">
          <div id="accordion">
            {% for subtopic in topic.get_subtopic %}
              <div class="card">
                <div class="card-header">
                  {% if forloop.first %}
                    <a class="card-link" data-toggle="collapse" href="#collapse{{subtopic.slug}}">
                      {{subtopic.title}}
                    </a>
                  {% else %}
                    <a class="collapsed card-link" data-toggle="collapse" href="#collapse{{subtopic.slug}}">
                      {{subtopic.title}}
                    </a>
                  {% endif %}
                  <a href="{% url 'knowledge:disciplines' knowledge.slug topic.slug subtopic.slug %}"
                     class="btn btn-primary btn-sm rounded-circle float-right"
                     data-toggle="tooltip" title="Insert into disciplines"
                     role="button">
                     <i class="fa fa-graduation-cap"></i>
                  </a>
                </div>
                <div id="collapse{{subtopic.slug}}" class="collapse" data-parent="#accordion">
                  <div class="card-body">
                    <p class="breakline text-justify">{{subtopic.description}}</p>
                  </div>
                </div>
              </div>
            {% empty %}
              <span>There aren't subtopic available in this topic.</span>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
