{% extends 'core/home.html' %}
{% load static %}

{% block base %}
  <div class="card card-container">
    <div class="card-header bg-dark text-white">
      Knowledge Areas <span class="float-right">SWEBOK v3</span>
    </div>
    <div class="card-body">
      {% for knowledge in swebok %}
        <div class="card">
          <div class="card-header bg-dark text-white">
            {{knowledge.title}}
          </div>
          <div class="card-body">
            <p class="breakline text-justify">{{knowledge.description}}</p>

            <div class="card">
              <div class="card-header">
                <b>Topics</b>
              </div>
              <div class="card-body">
                {% for topic in knowledge.topics %}
                  <a href="{% url 'knowledge:swebok-detail' knowledge=knowledge.slug topic=topic.slug %}"
                     class="list-group-item list-group-item-action">
                     {{topic.title}}
                  </a>
                {% empty %}
                  <span>There aren't topic available in this knowledge area.</span>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      {% empty %}
        <div class="alert alert-primary">
          There aren't knowledge available.
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}
