{% extends 'core/home.html' %}
{% load static %}

{% block base %}
  <div class="card card-container">
    <div class="card-header bg-dark text-white">
      {{topic}}
    </div>
    <div class="card-body">
      <p class="breakline">{{topic.description}}</p>

      <div class="card">
        <div class="card-header">
          <b>Subtopics</b>
        </div>
        <div class="card-body">
          <div id="accordion">
            {% for subtopic in topic.subtopics.all %}
              <div class="card">
                <div class="card-header">
                  {% if forloop.first %}
                    <a class="card-link" data-toggle="collapse" href="#collapse{{subtopic.id}}">
                      {{subtopic}}
                    </a>
                  {% else %}
                    <a class="collapsed card-link" data-toggle="collapse" href="#collapse{{subtopic.id}}">
                      {{subtopic}}
                    </a>
                  {% endif %}
                </div>
                <div id="collapse{{subtopic.id}}" class="collapse" data-parent="#accordion">
                  <div class="card-body">
                    <p class="breakline">{{subtopic.description}}</p>
                  </div>
                </div>
              </div>
            {% empty %}
              <span>There aren't subtopic available in this topic.</span>
            {% endfor %}
          </div>
        </div>
      </div>
      <a href="{% url 'knowledge:swebok-detail' slug=topic.knowledge.slug %}">Back</a>
    </div>
  </div>
{% endblock %}
